/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    text-align: center;
    padding-bottom: 50px; /* Space at the bottom */
}

.right-aligned-image {
    position: absolute;
    right: 0;
    top: 50%; /
    transform: translateY(-50%); 
    max-width: 300px; 
}

/* Top and bottom green strips */
.green-strip {
    width: 100%;
    color: white;
    padding: 8px 0;
    background-color: #4CAF50; /* Green color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Top strip specific styling */
.top-strip {
    border-bottom: 3px solid #367B35; /* Darker green border for a layered effect */
}

/* Bottom strip specific styling */
.bottom-strip {
    border-top: 3px solid #367B35; /* Darker green border for a layered effect */
    position: absolute;
    bottom: 0; /* Stick to bottom */
}

/* Content styling */
.content {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* More pronounced shadow for card-like effect */
    border-radius: 5px; /* Slightly rounded corners for a modern look */
    width: 90%; /* Responsive width */
    max-width: 600px; /* Max width for larger screens */
}

/* Form styling */
form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: .5em;
    color: #555;
}

form input[type='text'] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form input[type='submit'] {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type='submit']:hover {
    background-color: #367B35;
}

/* Image styling */
img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 5px; /* If you want rounded corners for images */
}

@media (max-width: 768px) {
    .content, form input[type='text'] {
        width: 95%; /* Slightly more width on smaller screens */
    }
}
