
<!DOCTYPE html>
<html>
<head>
    <title>Credit Profile Detail</title>
</head>
<body>

<h2>Credit Profile Details</h2>
<p>No of Dependents: {{ record.no_of_dependents }}</p>
<p>Education: {{ record.education }}</p>
<p>Self Employed: {{ record.self_employed }}</p>
<p>Annual Income: {{ record.annual_income }}</p>
<p>Loan Amount: {{ record.loan_amount }}</p>
<p>Credit Score: {{ record.credit_score }}</p>
<p>Residential Assets: {{ record.res_assets }}</p>
<p>Commercial Assets: {{ record.com_assets }}</p>
<p>Bank Assets: {{ record.bank_assets }}</p>
<p>Total Assets: {{ record.total_assets }}</p>

</body>
</html>